 Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of
your choice.

 You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get
information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

In [1]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
import time
import warnings
warnings.filterwarnings('ignore')

from bs4 import BeautifulSoup
import requests

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [4]:
#opening the webpage
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [6]:
#let's scrape all data
rank=[]
name=[]
Artist=[]
date=[]
views=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]"):
    rank.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]"):
    name.append(j.text)
for k in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]"):
    Artist.append(k.text)
for l in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]"):
    views.append(l.text)
for m in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]"):
    date.append(m.text)

In [7]:
#create dataframe
Most_viewed_videos=pd.DataFrame({})

In [8]:
Most_viewed_videos['Rank']=rank[:30]
Most_viewed_videos['Name']=name[:30]
Most_viewed_videos['Artist']=Artist[:30]
Most_viewed_videos['Uploaded date']=date[:30]
Most_viewed_videos['Views(in billions)']=views[:30]
Most_viewed_videos

,Rank,Name,Artist,Uploaded date,Views(in billions)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.87
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.67
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.04
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.56
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.36
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.77
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.47
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.40
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.36
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.28
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.77
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.61
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.49
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.42
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.20
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.19
21,22.,"""Bailando""[39]",Enrique Iglesias,"April 11, 2014",3.14
22,23.,"""Axel F""[40]",Crazy Frog,"June 16, 2009",3.14
23,24.,"""Lean On""[41]",Major Lazer,"March 22, 2015",3.14
24,25.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.04
27,28.,"""Mi Gente""[45]",J Balvin,"June 29, 2017",3.02
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.01
29,30.,"""Baa Baa Black Sheep""[47]",Cocomelon – Nursery Rhymes,"June 25, 2018",2.99

2.
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [13]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [14]:
#get the url
url=" https://www.bcci.tv/"
driver.get(url)

In [15]:
international=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]')
fixtures=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')

In [16]:
action= ActionChains(driver)
action.move_to_element(international).move_to_element(fixtures).click().perform()

In [35]:
match_title=[]
series=[]
place=[]
date=[]
time=[]

m_t=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in m_t:
    match_title.append(i.text)   
    
s=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
for i in s:
    series.append(i.text)

p=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span[1]')
for i in p:
    place.append(i.text)
    
day=driver.find_elements_by_xpath('//span[@class="fixture__day"]')
d=driver.find_elements_by_xpath('//span[@class="fixture__date"]')
m=driver.find_elements_by_xpath('//span[@class="fixture__month"]')
for i, j, k in zip(day, d, m):
    date.append(i.text + " " + j.text + " " + k.text)

try:
    t=driver.find_elements_by_xpath('//span[@class="fixture__time"]')
    for i in t:
        time.append(i.text)
except NoSuchElementException as e:
        time.append(NaN)

In [32]:
international_fixtures=pd.DataFrame()
international_fixtures["Match Title"]=match_title
international_fixtures['Series']=series
international_fixtures['Place']=place
international_fixtures['Date']=date
#international_fixtures['Time']=time
international_fixtures

,Match Title,Series,Place,Date
0,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Tuesday 11 JANUARY
1,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Wednesday 19 JANUARY
2,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Friday 21 JANUARY
3,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Sunday 23 JANUARY
4,1st ODI,INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",Sunday 06 FEBRUARY
5,2nd ODI,INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",Wednesday 09 FEBRUARY
6,3rd ODI,INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",Saturday 12 FEBRUARY
7,1st T20I,INDIA V WEST INDIES 2022,"Barabati Stadium, Cuttack",Tuesday 15 FEBRUARY
8,2nd T20I,INDIA V WEST INDIES 2022,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 FEBRUARY
9,3rd T20I,INDIA V WEST INDIES 2022,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 FEBRUARY
10,1st Test,INDIA V SRI LANKA 2022,"M.Chinnaswamy Stadium, Bangalore",Friday 25 FEBRUARY
11,2nd Test,INDIA V SRI LANKA 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Saturday 05 MARCH
12,1st T20I,INDIA V SRI LANKA 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Sunday 13 MARCH
13,2nd T20I,INDIA V SRI LANKA 2022,"Himachal Pradesh Cricket Association Stadium, ...",Tuesday 15 MARCH
14,3rd T20I,INDIA V SRI LANKA 2022,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,Friday 18 MARCH
15,1st T20I,INDIA V SOUTH AFRICA 2022,"M. A. Chidambaram Stadium, Chennai",Thursday 09 JUNE
16,2nd T20I,INDIA V SOUTH AFRICA 2022,"M.Chinnaswamy Stadium, Bangalore",Sunday 12 JUNE
17,3rd T20I,INDIA V SOUTH AFRICA 2022,"Vidarbha Cricket Association Stadium, Nagpur",Tuesday 14 JUNE
18,4th T20I,INDIA V SOUTH AFRICA 2022,"Saurashtra Cricket Association Stadium, Rajkot",Friday 17 JUNE
19,5th T20I,INDIA V SOUTH AFRICA 2022,"Arun Jaitley Stadium, Delhi",Sunday 19 JUNE

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [3]:
#get the website
url='https://www.guru99.com/'
driver.get(url)

In [4]:
#get the link for selenium exeption handling article
se=[]
s=driver.find_element_by_xpath("//ul[@id='java_technologies']//li[3]/a")
se.append(s.get_attribute("href"))
se

['https://www.guru99.com/selenium-tutorial.html']

In [5]:
for i in se:
    driver.get(i)

In [6]:
sel=[]
s=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
sel.append(s.get_attribute('href'))
sel

['https://www.guru99.com/exception-handling-selenium.html']

In [7]:
for i in sel:
    driver.get(i)

In [8]:
#scrape data 
name=[]
desc=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]"):
    desc.append(j.text)

In [9]:
#create dataframe
Selenium_expection=pd.DataFrame({})

In [10]:
Selenium_expection['Exception_name']=name[1:]
Selenium_expection['Exception_Description']=desc[1:]
Selenium_expection

,Exception_name,Exception_Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:

A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [19]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [20]:
#opening the webpage
driver.get('http://statisticstimes.com/')

In [21]:
economy=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
india=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')

In [22]:
action= ActionChains(driver)
action.move_to_element(economy).move_to_element(india).click().perform()

In [24]:
gdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [25]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

for i in range(1, 34):
    for j in driver.find_elements_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[1]'):
        Rank.append(j.text)
        
for i in range(1, 34):
    for j in driver.find_elements_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[2]'):
        State.append(j.text)
    
for i in range(1, 34):
    for j in driver.find_elements_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[3]'):
        GSDP1.append(j.text)

for i in range(1, 34):
    for j in driver.find_elements_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[4]'):
        GSDP2.append(j.text)

for i in range(1, 34):
    for j in driver.find_elements_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[5]'):
        Share.append(j.text)
        
for i in range(1, 34):
    for j in driver.find_elements_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[6]'):
        GDP.append(j.text)

In [26]:
GDP=pd.DataFrame({'Rank':Rank,'State':State,'GSDP1':GSDP1,'GSDP2':GSDP2,'Share':Share,'GDP($ billion)':GDP})
GDP

,Rank,State,GSDP1,GSDP2,Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [11]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [12]:
#get the website
url="https://github.com/trending"
driver.get(url)

In [13]:
links=[]
try:
    for l in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a'):
        links.append(l.get_attribute('href'))
except NoSuchElementException:
        links.append("-")
links

['https://github.com/marktext/marktext',
 'https://github.com/Anuken/Mindustry',
 'https://github.com/phoboslab/qoi',
 'https://github.com/Vonng/ddia',
 'https://github.com/ssssssss-team/spider-flow',
 'https://github.com/kuaifan/dootask',
 'https://github.com/codenotary/immudb',
 'https://github.com/freqtrade/freqtrade',
 'https://github.com/samuelmtimbo/unit',
 'https://github.com/kon9chunkit/GitHub-Chinese-Top-Charts',
 'https://github.com/CompVis/latent-diffusion',
 'https://github.com/louisfb01/best_AI_papers_2021',
 'https://github.com/microsoft/api-guidelines',
 'https://github.com/ethereum/ethereum-org-website',
 'https://github.com/prisma/prisma',
 'https://github.com/bradtraversy/design-resources-for-developers',
 'https://github.com/ornicar/lila',
 'https://github.com/dabeaz/dataklasses',
 'https://github.com/521xueweihan/HelloGitHub',
 'https://github.com/tiangolo/sqlmodel',
 'https://github.com/EmbarkStudios/kajiya',
 'https://github.com/bozbez/win-capture-audio',
 'https://github.com/vitest-dev/vitest',
 'https://github.com/Avik-Jain/100-Days-Of-ML-Code',
 'https://github.com/hashcat/hashcat']

In [14]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
a="--"

for i in links:
    driver.get(i)
    
    #scraping the titles
    try:
        t = driver.find_element_by_xpath('//*[@id="js-repo-pjax-container"]/div[1]/div[1]/div/h1').text
        Repository_title.append(t.replace("\n",""))
    except NoSuchElementException:
        Repository_title.append(a)

    #scraping the description
    try:
        d = titles = driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[1]/div/p').text
        Repository_description.append(d) 
    except NoSuchElementException:
        Repository_description.append(a)    
                        
    #scraping the company_name 
    try:
        #c = driver.find_element_by_xpath('//div[@class="flex-shrink-0 col-12 col-md-3"]/div/div[3]/div/h2/a/span').text
        c= driver.find_element_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[2]/div/h2/a/span').text
        Contributors_count.append(c) 
    except NoSuchElementException:
        Contributors_count.append(a)

        
    #scraping the Language
    try:
        l1 = driver.find_element_by_xpath('//a[@class="d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3"]').text
        Language_used.append(l1.replace("\n"," - ")) 
    except NoSuchElementException:
        Language_used.append(a)

In [15]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 25 25

In [16]:
Github=pd.DataFrame({"Repository title":Repository_title, "Repository description":Repository_description,
                    "Contributors count":Contributors_count,"Language used":Language_used})
Github

,Repository title,Repository description,Contributors count,Language used
0,marktext/marktextPublic,"📝A simple and elegant markdown editor, availab...",32,JavaScript - 75.9%
1,Anuken/MindustryPublic,The automation tower defense game,134,Java - 99.2%
2,phoboslab/qoiPublic,"The “Quite OK Image Format” for fast, lossless...",--,C - 100.0%
3,Vonng/ddiaPublic,《Designing Data-Intensive Application》DDIA中文翻译,--,Python - 42.3%
4,ssssssss-team/spider-flowPublic,新一代爬虫平台，以图形化方式定义爬虫流程，不写代码即可完成爬虫。,2,Java - 99.4%
5,kuaifan/dootaskPublic,DooTask是一款轻量级的开源在线项目任务管理工具，提供各类文档协作工具、在线思维导图、在...,7,PHP - 48.4%
6,codenotary/immudbPublic,"immudb - world’s fastest immutable database, b...",19,Go - 97.5%
7,freqtrade/freqtradePublic,"Free, open source crypto trading bot",48,Python - 97.5%
8,samuelmtimbo/unitPublic,Next Generation Visual Programming Platform,--,TypeScript - 99.6%
9,kon9chunkit/GitHub-Chinese-Top-ChartsPublic,🇨🇳 GitHub中文排行榜，各语言分离设置「软件 / 资料」榜单，精准定位中文好项目。各取...,--,Java - 100.0%
10,CompVis/latent-diffusionPublic,High-Resolution Image Synthesis with Latent Di...,--,Python - 99.2%
11,louisfb01/best_AI_papers_2021Public,A curated list of the latest breakthroughs in ...,--,--
12,microsoft/api-guidelinesPublic,Microsoft REST API Guidelines,--,--
13,ethereum/ethereum-org-websitePublic,Ethereum.org is a primary online resource for ...,165,JavaScript - 98.2%
14,prisma/prismaPublic,Next-generation ORM for Node.js & TypeScript |...,119,TypeScript - 97.7%
15,bradtraversy/design-resources-for-developersPu...,Curated list of design and UI resources from s...,--,--
16,ornicar/lilaPublic,"♞ lichess.org: the forever free, adless and op...",--,Scala - 68.2%
17,dabeaz/dataklassesPublic,A different spin on dataclasses.,--,Python - 100.0%
18,521xueweihan/HelloGitHubPublic,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",13,Python - 100.0%
19,tiangolo/sqlmodelPublic,"SQL databases in Python, designed for simplici...",4,Python - 98.9%
20,EmbarkStudios/kajiyaPublic,💡 Experimental real-time global illumination r...,8,Rust - 63.6%
21,bozbez/win-capture-audioPublic,An OBS plugin that allows capture of independa...,--,C++ - 95.6%
22,vitest-dev/vitestPublic,A Vite-native test framework. It's fast!,83,TypeScript - 93.9%
23,Avik-Jain/100-Days-Of-ML-CodePublic,100 Days of ML Coding,--,--
24,hashcat/hashcatPublic,World's fastest and most advanced password rec...,23,C - 96.8%

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:

    A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [9]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [10]:
#get the website
url="https://www.billboard.com/"
driver.get(url)

In [12]:
#Clicking the chart

chart_clk=driver.find_element_by_xpath("//*[@id='main-wrapper']/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
chart_clk.click()

In [13]:
#Creating empty lists for scraping 

Song_Name=[]
Artist_Name=[]
Last_Week_Rank=[]
Highest_Rank=[]
Weeks_On_Board=[]

In [16]:
#Clicking view

view_clk=driver.find_element_by_xpath("//*[@id='main-wrapper']/main/div[2]/div[1]/div[1]/div/div[3]/a")
view_clk.click()

In [17]:
#Scraping the data

for sn in driver.find_elements_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3"):
    Song_Name.append(sn.text) 
for an in driver.find_elements_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span"):
    Artist_Name.append(an.text)          
for l_w_r in driver.find_elements_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span"):
    Last_Week_Rank.append(l_w_r.text)       
for h_r in driver.find_elements_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]"):
    Highest_Rank.append(h_r)        
for w_o_b in driver.find_elements_by_xpath("/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span"):
    Weeks_On_Board.append(w_o_b.text)

In [18]:
#Creating the dataframe

Top_100=pd.DataFrame({})
Top_100['Name Of The Song']=Song_Name[0:]
Top_100['Artist']=Artist_Name[0:]
Top_100['Last week Rank']=Last_Week_Rank[0:]
Top_100['Highest rank']=Highest_Rank[0:]
Top_100['On board week']=Weeks_On_Board[0:]
Top_100

,Name Of The Song,Artist,Last week Rank,Highest rank,On board week
0,All I Want For Christmas Is You,Mariah Carey,2,<selenium.webdriver.remote.webelement.WebEleme...,49
1,Rockin' Around The Christmas Tree,Brenda Lee,3,<selenium.webdriver.remote.webelement.WebEleme...,43
2,Easy On Me,Adele,1,<selenium.webdriver.remote.webelement.WebEleme...,10
3,Jingle Bell Rock,Bobby Helms,6,<selenium.webdriver.remote.webelement.WebEleme...,40
4,A Holly Jolly Christmas,Burl Ives,5,<selenium.webdriver.remote.webelement.WebEleme...,24
...,...,...,...,...,...
95,No Love,Summer Walker & SZA,78,<selenium.webdriver.remote.webelement.WebEleme...,6
96,Bad Man (Smooth Criminal),Polo G,70,<selenium.webdriver.remote.webelement.WebEleme...,5
97,Feel Alone,Juice WRLD,-,<selenium.webdriver.remote.webelement.WebEleme...,1
98,Heart On Fire,Eric Church,95,<selenium.webdriver.remote.webelement.WebEleme...,4
99,Bubbly,Young Thug With Drake & Travis Scott,91,<selenium.webdriver.remote.webelement.WebEleme...,9

7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [16]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [17]:
#get the website
url="https://www.naukri.com/"
driver.get(url)

In [18]:
#go to recruiters page
rec=[]
r=driver.find_element_by_xpath("//div[@class='subMenu']//a")
rec.append(r.get_attribute("href"))
rec

['https://www.naukri.com/recruiters/browse-all-recruiters']

In [19]:
for i in rec:
    driver.get(i)

In [20]:
#do search for data science field
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data science")

In [21]:
#do click
driver.find_element_by_id("qsbFormBtn").click()

In [22]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)

for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]'):
    Company.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
    Skills_they_hire_for.append(i.text)
    
for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]'):
    Location.append(i.text)

In [23]:
df=pd.DataFrame({"Name":Name[0:25],"Designation":Designation[0:25],"Company":Company[0:25],
                "Skills_they_hire_for":Skills_they_hire_for[0:25],"Location":Location[0:25]})
df

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [2]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [3]:
#get the webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [5]:
#scrape data for book name,author name,volumes sold,publisher,genre data
bookname=[]
authorname=[]
volume=[]
publisher=[]
genre=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[2]"):
    bookname.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[3]"):
    authorname.append(j.text)
for k in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[4]"):
    volume.append(k.text)
for l in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[5]"):
    publisher.append(l.text)
for m in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[6]"):
    genre.append(m.text)

In [7]:
#creating empty data frame nad filling data into dataframe
Information=pd.DataFrame({})
Information['Book Name']=bookname
Information['Author Name']=authorname
Information['VolumeSales']=volume
Information['Publisher']=publisher
Information['Genre']=genre
Information

,Book Name,Author Name,VolumeSales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [2]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [3]:
#get the web page
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [5]:
#scrape data 
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year_span.append(j.text)
for k in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(k.text)
for l in driver.find_elements_by_xpath("//span[@class='runtime']"):
    run_time.append(l.text)
for m in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    ratings.append(m.text)
for n in driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]"):
    votes.append(n.text)
votes[0:15]

['|',
 '1,918,206',
 '|',
 '943,588',
 '|',
 '918,133',
 '|',
 '274,892',
 '|',
 '235,278',
 '|',
 '290,000',
 '|',
 '134,618',
 '|']

In [8]:
vote=[]
for i in range(0,len(votes),2):
    vote.append(votes[i+1])
len(vote)

100

In [9]:
#creating dataframe and filling data into dataframe
series=pd.DataFrame({})
series['Name of the series']=name 
series['Year span']=year_span 
series['Genre']=genre 
series['Run_Time']=run_time 
series['Ratings']=ratings
series['Votes']=v
series

,Name of the series,Year span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,918,206"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"943,588"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"918,133"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"274,892"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,278"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,876"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,662"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"181,829"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,014"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"215,910"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [11]:
#webdriver
driver=webdriver.Chrome(r"D:/chromedriver/chromedriver.exe")

In [13]:
#get the website
url='https://archive.ics.uci.edu/'
driver.get(url)

In [14]:
#go to all datasets page
data=[]
d=driver.find_element_by_xpath("//tbody//tr//td[2]//span[2]//a")
data.append(d.get_attribute("href"))
data

['https://archive.ics.uci.edu/ml/datasets.php']

In [15]:
for i in data:
    driver.get(i)

In [16]:
#scrap dataset name,data type,task,attribute type,no.of instance,no of attribute,year
name=[]
type1=[]
task=[]
attribute=[]
instance=[]
no_att=[]
year=[]
for i in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[1]//table//tbody//tr//td[2]//p//b//a"):
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append("--")
for j in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[2]/p"):
    try:
        type1.append(j.text)
    except NoSuchElementException:
        type1.append("--")

for k in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[3]/p"):
    try:
        task.append(k.text)
    except NoSuchElementException:
        task.append("--")
for l in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[4]/p"):
    try:
        attribute.append(l.text)
    except NoSuchElementException:
        attribute.append("--")
for m in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[5]/p"):
    try:
         instance.append(m.text)
    except NoSuchElementException:
        instance.append("--")
for n in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[6]/p"):
    try:
        no_att.append(n.text)
    except NoSuchElementException:
        no_att.append("--")
for o in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[7]/p"):
    try:
        year.append(o.text)
    except NoSuchElementException:
        year.append("--")

In [21]:
ty=[]
for i in range(0,len(type1),2):
    ty.append(type1[i])
ty

['Data Types',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Univariate, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Univariate, Time-Series ',
 'Multivariate, Spatial ',
 'Multivariate ',
 'Multivariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Data-Generator ',
 ' ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Sequential, Domain-Theory ',
 'Sequential ',
 'Sequential, Domain-Theory ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Domain-Theory ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate, Time-Series ',
 'Spatio-temporal ',
 'Transactional, Sequential ',
 'Image ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate, Relational ',
 'Sequential ',
 'Text ',
 'Multivariate, Time-Series ',
 'Univariate, Time-Series ',
 'Text ',
 'Multivariate, Time-Series ',
 'Time-Series ',
 'Multivariate, Text ',
 'Text, Sequential ',
 'Image ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Domain-Theory ',
 ' ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Text ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate, Time-Series ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Text ',
 'Domain-Theory ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate, Text, Domain-Theory ',
 'Time-Series, Domain-Theory ',
 'Multivariate, Text, Domain-Theory ',
 'Text ',
 'Text ',
 'Multivariate, Univariate, Text ',
 'Multivariate, Univariate, Text ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate, Text, Domain-Theory ',
 'Univariate ',
 'Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Univariate, Text ',
 'Sequential ',
 'Text ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Sequential, Text ',
 'Multivariate, Univariate, Time-Series ',
 'Time-Series, Multivariate ',
 'Multivariate ',
 'Sequential ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series, Text ',
 'Univariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Univariate, Sequential, Time-Series ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Univariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Text ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Univariate, Sequential, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series, Domain-Theory ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series, Domain-Theory ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Text ',
 'Multivariate, Text ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 ' ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Time-Series ',
 'Text ',
 ' ',
 ' ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Sequential, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 ' ',
 'Sequential ',
 'Univariate ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Univariate, Domain-Theory ',
 'Multivariate ',
 'Text ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Text ',
 'Time-Series ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Univariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Univariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Univariate ',
 'Multivariate, Sequential ',
 'Text ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Univariate ',
 'Multivariate ',
 'Multivariate, Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Text ',
 'Text ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Sequential ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Text ',
 'Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate, Time-Series ',
 'Univariate ']

In [19]:
#create dataframe and filling data into that dataframe
Datasets=pd.DataFrame({})
Datasets["Dataset Name"]=name
Datasets["Data Types"]=t[1:]
Datasets["Default Task"]=task[1:]
Datasets["Attributes Type"]=attribute[1:]
Datasets["Instances"]=instance[1:]
Datasets["Number of Attributes"]=no_att[1:]
Datasets["Year"]=year[1:]
Datasets

,Dataset Name,Data Types,Default Task,Attributes Type,Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [22]:
#end